<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yihai.wu.sxi">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="false"/>

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false"/>

    <!--蓝牙权限-->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false"/>

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="false"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false"/>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--只为BLE提供服务-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>

    <application
        android:name="com.yihai.wu.appcontext.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="YiHi.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2"/>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >

        </activity>
        <activity
            android:name=".DeviceScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true"/>

        <activity
            android:name=".DeviceInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".SetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".SetDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".MaterialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SetTextureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".BezierActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0a54562f6817efaf89b5ed4adc2e8f9a48169533"
            />

        <activity android:name=".HelloChartActivity"/>
        <activity android:name=".HelloActivity"/>
        <activity
            android:name=".SetWallpaperActivity"
            android:screenOrientation="portrait"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>